<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.feiyu.live">

    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:theme="@style/AppTheme"
            android:name="com.feiyu.live.activity.LiveAnchorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            />
        <activity
            android:theme="@style/AppTheme"
            android:name="com.feiyu.live.activity.LiveAudienceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            />
        <activity
            android:name="com.feiyu.live.activity.LiveChooseClassActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.live.activity.LiveReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden"
            />
        <activity
            android:name="com.feiyu.live.activity.LiveAddImpressActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.live.activity.LiveContributeActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.live.activity.LiveGuardListActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.live.activity.LiveRecordActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.live.activity.LiveRecordPlayActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.live.activity.RoomManageActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.live.activity.RoomManageDetailActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.live.activity.LiveAdminListActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.live.activity.LiveShutUpActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.live.activity.LiveBlackActivity"
            android:screenOrientation="portrait"
            />
        <!--Android 9.0移除了apache的HttpClient，而金山sdk中用到了这个，不加这个的话在Android 9.0会崩溃-->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
    </application>

</manifest>
