<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.feiyu.main">

    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name="com.feiyu.main.activity.LoginInvalidActivity"
            android:theme="@style/dialog2"
            />
        <activity
            android:name="com.feiyu.main.activity.LoginActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.main.activity.MainActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.main.activity.UserHomeActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.main.activity.SettingActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.main.activity.SearchActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.main.activity.FollowActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.main.activity.FansActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.main.activity.EditProfileActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.main.activity.EditSexActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.main.activity.EditNameActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.main.activity.EditSignActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.main.activity.MyImpressActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.main.activity.MyCoinActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.main.activity.MyVideoActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.main.activity.MyProfitActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.main.activity.CashActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.main.activity.LiveClassActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.main.activity.ModifyPwdActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.main.activity.RegisterActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.main.activity.FindPwdActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.main.activity.RecommendActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.feiyu.main.activity.ThreeDistributActivity"
            android:screenOrientation="portrait"
            />
    </application>
</manifest>
